<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.richard.summariesofdyhdm">

    <!-- 网络权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 打电话的权限 -->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <!-- 读取手机联系人的权限 -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <!-- 组名访问SD卡的权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>

    <!--百度定位相关权限-->

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <!--百度SDK配置-->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="dfViO7BvGHrWieNsTUK0skUcgMbz7BeY"/>

        <service android:name="com.baidu.location.f"
            android:enabled="true"
            android:exported="true"
            android:process=":remote"/>
        <!--下载服务-->
        <service
            android:name=".tenth_service.DownloadService"
            android:enabled="true"
            android:exported="true">

        </service>
        
        <activity android:name=".twelfth_material_design.MaterialDesignActivity" />
        <activity android:name=".eleventh_location.BDLocationActivity" />
        <activity android:name=".tenth_service.MyActivity" />
        <activity android:name=".ninth_network.parsejsondata.GsonActivity" />
        <activity android:name=".ninth_network.parsejsondata.JSONActivity" />
        <activity android:name=".ninth_network.requsetdata.OkHttpActivity" />
        <activity android:name=".ninth_network.WebViewActivity" />
        <activity android:name=".ninth_network.requsetdata.HttpURLActivity" />
        <activity android:name=".ninth_network.NetworkActivity" />
        <activity android:name=".eighth_multimedia.PlayMusicActivity" />
        <activity android:name=".eighth_multimedia.photo.CallPhototActivity" />
        <activity android:name=".eighth_multimedia.notification.ShowNotificationActivity" />
        <activity android:name=".eighth_multimedia.notification.MyNotificationActivity" />
        <activity android:name=".eighth_multimedia.MultimediaActivity" />
        <activity android:name=".seventh_contentprovider.ReadPhoneContactsActivity" />
        <activity android:name=".seventh_contentprovider.ContentProviderActivity" />
        <activity android:name=".sixth_database.litepal_store.LitepalStoreActivity" />
        <activity android:name=".sixth_database.sql_store.SqlStoreActivity" />
        <activity android:name=".sixth_database.sp_store.SpStoreActivity" />
        <activity android:name=".sixth_database.file_store.FileStoreActivity" />
        <activity android:name=".sixth_database.TheSixthChapterActivity" />
        <activity android:name=".recyclerview.RecyclerViewActivity" />
        <activity android:name=".main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.richard.summariesofdyhdm.eighth_multimedia.photo.fileprovider"
            android:enabled="true"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>